@use "../lib/functional" as func;
@use "sass:meta";
@use "sass:list";
@use "test";

$_numslist: (1, 2, 3, 4);
$_charslist: ("a", "b", "c", "d"); 

@function is_one($elem) {
    @if $elem == 1 {
        @return true;
    }
    @return false;
}

@function add_one($val) {
    @return $val + 1;
}

$_add_one: meta.get_function("add_one");
$_is_one: meta.get_function("is_one");

@function test_1() {
    $res_1: func.all($_is_one, $_numslist);
    @return test.assert_false($res_1);
}

@function test_2() {
    $res_1: func.map($_add_one, $_numslist);
    @for $i from 1 through list.length($res_1) {
        $_: test.assert_eq(
            add_one(list.nth($_numslist, $i)), list.nth($res_1, $i));
    }

    @return true;
}

@function test_3() {
    $_f: func.bind($_is_one, 1);
    $_test1: assert_true(func.call($_f));
    
    $_f2: func.bind($_is_one, 2);
    @return assert_false(func.call($_f2));
}

@function test_4() {
    $val: func.remove_if($_numslist, $_is_one);
    @return assert_neq(func.first($val), 1);
}

@function runner() {
    $_: test_1();
    $_2: test_2();
    $_3: test_3();
    $_4: test_4();
    @return "success!";
}

@debug runner();